.App {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  padding: 5px;
}
.container {
  padding: 5px;
  gap: 10px;
  display: flex;
  min-height: 90vh;
}
.aside {
  width: 20%;
  border: 2px solid;
  padding: 5px;
}
.wordsBox {
  min-height: 70vh;
  padding: 5px;
  margin: 5px;
  border: 2px solid;
  overflow-x: scroll;
}
.letter {
  padding: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
.word {
  padding: 3px;
}
.select {
  margin: 5px;
  padding: 5px;
}
.input {
  margin: 5px;
  padding: 10px;
}
button {
  margin: 5px;
  padding: 10px;
  background-color: rgb(23, 212, 134);
}
